.container {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/oasisBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
    padding: 50px;
}