@import "bulma/sass/utilities/_all.sass";
.App {
	display: flex;
	justify-content: center;
	text-align: center;
}
.nav .button {
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
